.logoFadeIn {
    -webkit-animation: 4s logo-fade-in;
    -moz-animation: 4s logo-fade-in;
    -o-animation: 4s logo-fade-in;
    animation: 4s logo-fade-in;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.nameFadeIn {
    -webkit-animation: 2s logo-fade-in;
    -moz-animation: 2s logo-fade-in;
    -o-animation: 2s logo-fade-in;
    animation: 2s logo-fade-in;
    -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.swissKnifeFadeIn {
    -webkit-animation: 2s logo-fade-in;
    -moz-animation: 2s logo-fade-in;
    -o-animation: 2s logo-fade-in;
    animation: 2s logo-fade-in;
    -webkit-animation-delay: 2.5s; /* Chrome, Safari, Opera */
    animation-delay: 2.5s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.navMovement {
    -webkit-animation: 0.5s ease-in nav-slide-in;
    -moz-animation: 0.5s ease-in nav-slide-in;
    -o-animation: 0.5s nav-slide-in;
    animation: 0.5s nav-slide-in;
    -webkit-animation-delay: 4s; /* Chrome, Safari, Opera */
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@media only screen and (max-device-width: 1024px) {
    #outerContent {
        height: 100%;
        width: 100%;
    }
    nav ul {
        width: 100%;
    }

}

/* ALL SMARTPHONES IN LANDSCAPE AND PORTRAIT*/
@media only screen and (max-device-width: 736px) {
    nav {
        height: 50px;
    }

    nav li {
        margin-top: 4px;
    }

    nav h1 {
        font-size: 16px;
        line-height: 15px;
    }

    nav img {
        width: 25px;
        height: 25px;
    }

    #contact .socialMedia li {
        display: inline-block;
        width: 50%;
    }

    #contact footer {
        width: 100%;
        height: 50px;
        /*background: #3d3d3d;*/
        text-align: center;
        /*border-top: 1px solid #ea7272;*/
        position: fixed;
        bottom: 0;
        z-index: 5;
    }

    #contact footer img {
        width: 30px;
        height: 30px;
    }

    #contact footer h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #3d3d3d;
        font-weight: normal;
        line-height: 15px;
    }
}

@media only screen and (max-device-width: 736px) and (orientation: landscape) {
    /*FRONT PAGE*/
    #frontpage .name {
        margin-top: 5px;
        font-size: 30px;
        opacity: 0;
        text-align: center;
        font-weight: 200
    }

    #frontpage #logo img {
        width: 150px;
        height: 150px;
    }

    #frontpage #logo {
        margin-top: 10px;
    }

    #frontpage .swissKnife {
        margin-top: 10px;
        font-size: 20px;
        opacity: 0;
        text-align: center;
        font-weight: 200;
        color: #ea7272;
    }
}

/* Smartphones (portrait and landscape)  */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    /* CONTACT PAGE */
    #contact .contactInfo {
        text-align: center;
        margin-top: 90px;
    }

    #contact .contactInfo span {
        color: #ea7272;
    }

    #contact h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        color: #9c9b9b;
        font-weight: 200;
        text-align: center;
        margin-top: 10%;
    }

    #contact h2 {
        font-size: 22px;
        line-height: 45px;
    }

    /*ABOUT PAGE*/
    #logo {
        text-align: center;
        margin-top: 30px;
    }

    #logo img {
        width: 155px;
        height: 155px;
    }

    .section p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        width: 85%;
        margin: 20px auto;
        color: #9c9b9b;
    }

    #section2 {
        border-width: 5px 0 5px 0;
        border-style: solid;
        -webkit-border-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(234, 114, 114, 1)), to(rgba(0, 0, 0, 0))) 135 0;
    }


}

/* Smartphones (landscape)  */
@media only screen and (min-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {

    .mainContainer {
        margin-top: 65px;
    }

    /* CONTACT PAGE */
    #contact .contactInfo {
        margin-top: 4%;
    }

    #contact h3 {
        font-size: 15px;
        margin-top: 1%;
    }

    #contact h2 {
        font-size: 20px;
        line-height: 28px;
    }

    /*ABOUT PAGE*/
    #logo {
        text-align: center;
        margin-top: 30px;
    }

    #logo img {
        width: 155px;
        height: 155px;
    }

    .section p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        width: 95%;
        margin: 20px auto;
        color: #9c9b9b;
    }

    #section2 {
        border-width: 5px 0 5px 0;
        border-style: solid;
        -webkit-border-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(234, 114, 114, 1)), to(rgba(0, 0, 0, 0))) 121 0;
    }


}

/* Smartphones (portrait)  */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {

    .mainContainer {
        margin-top: 85px;
    }

    #contact h2 {
        font-size: 22px;
        line-height: 40px;
    }

    #contact h3 {
        font-size: 17px;
        width: 90%;
        margin: 5% auto;
    }

    #contact .contactInfo {
        margin-top: 10%;
    }

    #frontpage #logo img {
        width: 200px;
        height: 200px;
    }

    #frontpage #logo {
        opacity: 0;
        margin-top: 10%;
    }

    #frontpage .swissKnife {
        opacity: 0;
        text-align: center;
        margin-top: 10%;
        font-size: 20px;
        font-weight: 200;
        color: #ea7272;
    }

    #frontpage .name {
        opacity: 0;
        text-align: center;
        margin-top: 10%;
        font-size: 34px;
        font-weight: 200
    }

}

/*Nexus 5, Galaxy S3 etc portrait*/
@media screen and (min-width: 360px) and (max-width: 640px) and (orientation: portrait) {
    #contact h2 {
        font-size: 25px;
        line-height: 46px;
    }

    #contact .contactInfo {
        margin-top: 20%;
    }

    #contact h3 {
        font-size: 18px;
        margin-top: 15%;
    }

    #frontpage .name {
        font-size: 35px;
    }

    #frontpage #logo img {
        width: 200px;
        height: 200px;
    }

    #frontpage .swissKnife {
        font-size: 25px;
    }

    #frontpage.mainContainer, #contact.mainContainer {
        margin-top: 30%;
    }

}

/*Galaxy S3 etc landscape*/
@media screen and (max-width: 640px) and (orientation: landscape) and (device-aspect-ratio: 16/9) {
    #contact h2 {
        font-size: 22px;
        line-height: 32px;
    }

    #contact h3 {
        font-size: 18px;
        width: 90%;
        margin: 1% auto;
    }

    #contact .contactInfo {
        margin-top: 3%;
    }

    #frontpage .name {
        font-size: 35px;
    }

    #frontpage #logo img {
        width: 200px;
        height: 200px;
    }

    #frontpage .swissKnife {
        font-size: 25px;
    }

    #frontpage.mainContainer, #contact.mainContainer {
        margin-top: 8%;
    }


}

/* iPhone 5 (landscape)*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 71/40) {
    #contact h2 {
        font-size: 20px;
        line-height: 28px;
    }

}

/* iPhone 5 (portrait) */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {
    #contact h2 {
        font-size: 22px;
        line-height: 45px;
    }

    #contact h3 {
        font-size: 17px;
        margin-top: 10%;
    }

    #contact .contactInfo {
        margin-top: 15%;
    }
    #frontpage.mainContainer, #contact.mainContainer {
        margin-top: 30%;
    }
}

/* iPhone 6 (portrait &amp; landscape) */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {

}

/* iPhone 6 (landscape) */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 667/375) {
    #contact h2 {
        font-size: 24px;
        line-height: 32px;
    }

    #contact h3 {
        font-size: 18px;
        width: 90%;
        margin: 1% auto;
    }

    .section p {
        margin: 3% auto;
    }

    #frontpage .name {
        font-size: 35px;
    }

    #frontpage #logo img {
        width: 200px;
        height: 200px;
    }

    #frontpage .swissKnife {
        font-size: 25px;
    }

    #frontpage.mainContainer, #contact.mainContainer {
        margin-top: 8%;
    }
}

/* iPhone 6 (portrait) */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    #contact h2 {
        font-size: 26px;
        line-height: 58px;
    }

    #contact .contactInfo {
        margin-top: 15%;
    }

    #contact h3 {
        font-size: 20px;
        margin-top: 15%;
    }

    /*FRONT PAGE*/

    #frontpage .name {
        font-size: 40px;
    }

    #frontpage #logo img {
        width: 250px;
        height: 250px;
    }

    #frontpage .swissKnife {
        font-size: 25px;
    }

    #frontpage.mainContainer, #contact.mainContainer {
        margin-top: 30%;
    }

}

/* iPhone 6 plus (portrait &amp; landscape) */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {

}

/* iPhone 6 plus (landscape) */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) and (device-aspect-ratio: 16/9) {
    #contact h2 {
        font-size: 26px;
        line-height: 38px;
    }

    #contact h3 {
        font-size: 18px;
        width: 90%;
        margin: 1% auto;
    }

    #contact .contactInfo {
        margin-top: 5%;
    }

    /*FRONT PAGE*/

    #frontpage .name {
        font-size: 35px;
    }

    #frontpage #logo img {
        width: 200px;
        height: 200px;
    }

    #frontpage .swissKnife {
        font-size: 25px;
    }

    #frontpage.mainContainer, #contact.mainContainer {
        margin-top: 10%;
    }

}

/* iPhone 6 plus (portrait) */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    #contact h3 {
        font-size: 22px;
        margin-top: 15%;
    }

    #contact h2 {
        font-size: 29px;
        line-height: 58px;
    }

}

/*Nexus 5 special landscape treatment*/
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: landscape) and (device-aspect-ratio: 16/9) {
    #contact h2 {
        font-size: 22px;
        line-height: 32px;
    }

    #contact h3 {
        font-size: 18px;
        width: 90%;
        margin: 1% auto;
    }

    #about #logo img {
        width: 150px;
        height: 150px;
    }

    /*FRONT PAGE*/

    #frontpage.mainContainer, #contact.mainContainer {
        margin-top: 8%;
    }

    #frontpage .name {
        font-size: 25px;
    }

    #frontpage #logo img {
        width: 150px;
        height: 150px;
    }

    #frontpage .swissKnife {
        font-size: 15px;
    }

    #frontpage.mainContainer, #contact.mainContainer {
        margin-top: 10%;
    }
}

@media screen and (max-width: 640px) and (min-width: 384px) and (orientation: portrait) {

}

@media screen and (max-width: 640px) and (min-width: 384px) and (orientation: landscape) {

}

/* iPads (portrait and landscape)  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    nav {
        height: 65px;
    }

    nav li {
        margin-top: 5px;
    }

    nav img {
        width: 35px;
        height: 35px;
    }

    nav h1 {
        font-size: 18px;
        line-height: 15px;
    }

    #contact .socialMedia li {
        display: inline-block;
        width: 50%;
    }

    #contact footer {
        width: 100%;
        height: 65px;
        text-align: center;
        position: fixed;
        bottom: 0;
        z-index: 5;
    }

    #contact footer img {
        width: 40px;
        height: 40px;
    }

    #contact footer h1 {
        font-family: 'Open Sans', sans-serif;
        color: #3d3d3d;
        font-weight: normal;
        font-size: 18px;
        line-height: 15px;
    }
}

/* iPads (landscape)  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .mainContainer {
        margin-top: 95px;
    }

    #contact h3 {
        font-size: 25px;
        margin: 6% auto;
        width: 90%;
    }

    #contact .contactInfo {
        margin-top: 10%;
    }

    #contact h2 {
        font-size: 35px;
        line-height: 64px;
    }

    /*ABOUT PAGE*/
    li.section {
        width: 33%;
        display: inline-block;
    }

    #about ul {
        margin-top: 5%;
    }

    .section p {
        width: 90%;
        margin: 5px auto;
        font-size: 18px;
        line-height: 26px;
    }

    #section2 {
        border-width: 0 5px 0 5px;
        border-style: solid;
        -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(234, 114, 114, 1)), to(rgba(0, 0, 0, 0))) 1 100%;
        margin-right: -4px;
        margin-left: -4px;
    }

    #logo img {
        width: 300px;
        height: 300px;
    }

    /*FRONT PAGE*/

    #frontpage .name {
        opacity: 0;
        text-align: center;
        margin-top: 10%;
        font-size: 50px;
        font-weight: 200
    }

    #frontpage #logo img {
        width: 300px;
        height: 300px;
    }

    #frontpage #logo {
        opacity: 0;
        margin-top: 10%;
    }

    #frontpage .swissKnife {
        opacity: 0;
        text-align: center;
        margin-top: 10%;
        font-size: 35px;
        font-weight: 200;
        color: #ea7272;
    }
}

/* iPads (portrait)  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

    .mainContainer {
        margin-top: 110px;
    }

    #contact h3 {
        font-size: 34px;
        margin: 10% auto;
        width: 90%;
    }

    #contact .contactInfo {
        margin-top: 15%;
    }

    #contact h2 {
        font-size: 50px;
        line-height: 90px;
    }

    /*ABOUT PAGE*/
    #about ul {
        margin-top: 5%;
    }

    .section p {
        width: 90%;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 20px;
        line-height: 28px;
        text-align: left;
        color: #9c9b9b;
        margin: 5% auto;
    }

    #section2 {
        border-width: 5px 0 5px 0;
        border-style: solid;
        -webkit-border-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(234, 114, 114, 1)), to(rgba(0, 0, 0, 0))) 121 0;
    }

    #logo img {
        width: 300px;
        height: 300px;
    }

    #logo {
        text-align: center;
        margin-top: 5%;
    }

    /*FRONT PAGE*/

    #frontpage .name {
        opacity: 0;
        text-align: center;
        margin-top: 10%;
        font-size: 50px;
        font-weight: 200
    }

    #frontpage #logo img {
        width: 300px;
        height: 300px;
    }

    #frontpage #logo {
        opacity: 0;
        margin-top: 10%;
    }

    #frontpage .swissKnife {
        opacity: 0;
        text-align: center;
        margin-top: 10%;
        font-size: 35px;
        font-weight: 200;
        color: #ea7272;
    }

}

@media only screen and (min-device-width: 600px) and (max-device-width: 960px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332){

    nav {
        height: 65px;
    }

    nav li {
        margin-top: 5px;
    }

    nav img {
        width: 35px;
        height: 35px;
    }

    nav h1 {
        font-size: 18px;
        line-height: 15px;
    }

    #contact .socialMedia li {
        display: inline-block;
        width: 50%;
    }

    #contact footer {
        width: 100%;
        height: 65px;
        background: #3d3d3d;
        text-align: center;
        border-top: 1px solid #ea7272;
        position: fixed;
        bottom: 0;
        z-index: 5;
    }

    #contact footer img {
        width: 40px;
        height: 40px;
    }

    #contact footer h1 {
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-weight: normal;
        font-size: 18px;
        line-height: 15px;
    }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 960px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.331)  {

    #contact .contactInfo {
        margin-top: 5%;
    }

    #contact h3 {
        /*font-size: 25px;*/
        margin: 2% auto;
        width: 90%;
    }

    /*ABOUT PAGE*/
    #section2 {
        margin-right: -5px;
        margin-left: -5px;
    }

    #logo {
        text-align: center;
        margin-top: 3%;
    }

    #logo img {
        width: 220px;
        height: 220px;
    }

    .section p {
        width: 90%;
        font-size: 16px;
        line-height: 24px;
    }

    #about ul {
        margin-top: 3%;
    }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 960px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.331) {

    .mainContainer {
        margin-top: 110px;
    }

    #contact h3 {
        font-size: 28px;
        margin: 10% auto;
        width: 90%;
    }

    #contact .contactInfo {
        margin-top: 20%;
    }

    #contact h2 {
        font-size: 40px;
        line-height: 80px;
    }

    /*ABOUT PAGE*/
    #about ul {
        margin-top: 5%;
    }

    .section p {
        width: 90%;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 20px;
        line-height: 28px;
        text-align: left;
        color: #9c9b9b;
        margin: 5% auto;
    }

    #section2 {
        border-width: 5px 0 5px 0;
        border-style: solid;
        -webkit-border-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(234, 114, 114, 1)), to(rgba(0, 0, 0, 0))) 121 0;
    }

    #logo img {
        width: 300px;
        height: 300px;
    }

    #logo {
        text-align: center;
        margin-top: 5%;
    }
}

/* Large screens  */
@media only screen and (min-width: 1824px) {

}

/* Desktops and laptops  */
@media only screen and (min-width: 1224px) {

}



@keyframes logo-fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-moz-keyframes logo-fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes logo-fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes nav-slide-in {
    0% {
        opacity: 0;
        top: -100px;
    }
    60% {
        opacity: 1;
        top: 15px;
    }
    80% {
        top: -5px;
    }
    100% {
        top: 0;
    }
}
@-moz-keyframes nav-slide-in {
    from { top: -50px; }
    to { top: 0; }
}
@-webkit-keyframes nav-slide-in {
    0% {
        opacity: 0;
        top: -100px;
    }
    60% {
        opacity: 1;
        top: 5px;
    }
    80% {
        top: -5px;
    }
    100% {
        top: 0;
    }
}



