<section ng-controller="portfolio">
    <div class="modal-body">

        <h1>STUFF IN MODAL</h1>
        <ul class="portfolioList">
            <li ng-repeat="portfolioContentInfo in portfolioContentInfo | filter: {id: selectedCompanyIndex}">
                <h1>{{portfolioContentInfo.heading}}</h1>
                <p>{{portfolioContentInfo.textContent}}</p>
            </li>
        </ul>


    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Close</button>
    </div>

</section>